.containerKeys {
  background: url("/backgroundKeys.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 27vh;
  height: 9vh;
  position: absolute;
  top: 2vh;
  left: 50%;
  border-radius: 8px;
  transform: translateX(-50%);
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1vh;
  padding: 1vh;
}

.containerKeys-title {
  position: absolute;
  top: -4%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 1.75vh;
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-weight: bold;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);
}

.containerKeys-key {
  height: 57px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  border-radius: 6px;
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 1;
}

.key-1 {
  display: flex;
}

.key-2 {
  display: flex;
}

.key-3 {
  display: flex;
}

.final-clue{
  font-family: var(--font-primary);
  font-size: 2.5vh;
  text-transform: uppercase;
  font-family: var(--font-primary);
  font-weight: bold;
  font-style: italic;
  color: white;
  text-shadow: 0 2px 2px rgba(0, 0, 0, 0.75);

  &:before,
  &:after {
    pointer-events: none;
    position: absolute;
    z-index: -1;
    display: block;
    content: "";
    width: 20vh;
    height: 20vh;
    top: 50%;
    left: 50%;
    opacity: 0.5;
    transform: translate(-50%, -50%) scale(1.25) rotate(0);
    animation: smallShine 16s linear infinite;
    background: url(/shine-layer1.png) no-repeat center center / contain;
  }

  &:after {
    animation-duration: 24s;
    background: url(/shine-layer2.png) no-repeat center center / contain;
  }
}

@keyframes smallShine {
  from {
    transform: translate(-50%, -50%) scale(1.25) rotate(0);
  }

  to {
    transform: translate(-50%, -50%) scale(1.25) rotate(360deg);
  }
}